{% extends "header.html" %}
{% block body %}

<body>
  
  <nav>
    <h1><a href="/" >Books Of NITT</a></h1>
  </nav>

<!-- home -->

<header>
    <div class="smoothie">
      <img src="static/smoothie.png" alt="">
    </div>
    <div class="headings">
      <h2>Nitt Papers</h2>
      <h3>By leods From Room No:33</h3>
      <a href="{{url_for('logout')}}"> <button> Press here to logout</button></a>
    </div>
  </header>

  <!-- smoothies -->

  
  <ul class="recipes">
    
  <li class="recipe">
    <img src="static/smoothie.png" alt="smoothie recipe icon" >
    <a href="{{url_for('mca')}}">
      <button class="button">
          MCA
      </button>
  </a>
    <p>MAster Of Computer Application</p>
  </li>
  
  <li class="recipe">
    <img src="static/smoothie.png" alt="smoothie recipe icon">
    <h4>B.Tech.</h4>
    <p>Bachlor of Technology</p>
  </li>

  <li class="recipe">
    <img src="static/smoothie.png" alt="smoothie recipe icon">
    <h4>M. Tech.</h4>
    <p>Master Of Technology</p>
  </li>


  <li class="recipe">
    <img src="static/smoothie.png" alt="smoothie recipe icon" >
    <h4>BBA</h4>
    <p>Bachlor Of Business Administration</p>
  </li>
  
  <li class="recipe">
    <img src="static/smoothie.png" alt="smoothie recipe icon">
    <h4>MBA</h4>
    <p>Master Of Business Administration</p>
  </li>

  <li class="recipe">
    <img src="static/smoothie.png" alt="smoothie recipe icon">
    <h4>M.Sc.</h4>
    <p>Master Of Science</p>
  </li>

</body>

{% endblock %}