{% extends "header.html" %}
{% block body %}

<body>

  <nav>
    <h1><a href="/">Books Of NITT</a></h1>
  </nav>


<ul class="recipes">
  
  <li class="recipe">
    <img src="static/smoothie.png" alt="smoothie recipe icon" >
    <a href="{{url_for('MCA_page')}}">
      <button class="button">
          Operating System-material
      </button>
  </a>
  </li>

  <li class="recipe">
    <img src="static/smoothie.png" alt="smoothie recipe icon" >
    <a href="#">
      <button class="button">
          DBMS
      </button>
      <p>Data base mngmnet system</p>
  </a>
  </li>

  <li class="recipe">
    <img src="static/smoothie.png" alt="smoothie recipe icon" >
    <a href="#">
      <button class="button">
          COA
      </button>
      <p>Computer Org and application</p>
  </a>
  </li>

  <li class="recipe">
    <img src="static/smoothie.png" alt="smoothie recipe icon" >
    <a href="#">
      <button class="button">
          OS
      </button>
      <p>Operating System</p>
  </a>
  </li>

  <li class="recipe">
    <img src="static/smoothie.png" alt="smoothie recipe icon" >
    <a href="#">
      <button class="button">
          DBMS
      </button>
      <p>Data base mngmnet system</p>
  </a>
  </li>

  <li class="recipe">
    <img src="static/smoothie.png" alt="smoothie recipe icon" >
    <a href="#">
      <button class="button">
          COA
      </button>
      <p>Computer Org and application</p>
  </a>
  </li>
  
</ul>

</body>
</html>

{% endblock %}